/*
 * Stripe Payments Extension CSS
 */

.credit-cards {
    margin-top: 10px;
    position: relative;
    width: 332px;
    height: 26px;
}
.credit-cards:before, .credit-cards:after {
    background-image: url(../image/stripe-cc-logos.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    content: "";
    position: absolute;
}
.credit-cards:before {
    z-index: 1;
    opacity: 0.3;
}
.credit-cards:after {
    z-index: 2;
    opacity: 1;
    background-clip: content-box;
    padding: 0;
    width: 0;
}
.credit-cards.visa:after {
    width: 60px;
}
.credit-cards.mastercard:after {
    width: 48px;
    padding-left: 60px;
}
.credit-cards.americanexpress:after {
    width: 46px;
    padding-left: 108px;
}
.credit-cards.jcb:after {
    width: 46px;
    padding-left: 154px;
}
.credit-cards.discover:after {
    width: 46px;
    padding-left: 202px;
}
.credit-cards.dinersclub:after {
    width: 84px;
    padding-left: 248px;
}