.paging { padding:10px 0px 0px 0px; text-align:center; font-size:13px;}
.paging.display{text-align:right;}
.paging a, .paging span {padding:2px 8px 2px 8px; font-weight :normal; background-color:#DDDDDD}
.paging span {font-weight:bold; background-color:#0F2944; color:#fff; font-size:13px; border-color:#0F2944;}
.paging a, .paging a:visited {color:#444444; text-decoration:none; border:1px solid #aaaaaa;}
.paging a:hover { text-decoration:none; background-color:#0F2944; color:#fff; border-color:#0F2944;}
.paging span.prn { font-size:13px; font-weight:normal; color:#fff;}
.paging a.prn, .paging a.prn:visited { border:1px solid #aaaaaa;}
.paging a.prn:hover { border-color:#0F2944;}
.paging p#total_count{color:#40597D; font-size:12px; font-weight: bold; padding-top:8px; padding-left:18px;}
.paging p#total_display{color:#40597D; font-size:12px; padding-top:10px;}
