    div.error {
        color: red;
        font-size: 11px;
        margin-bottom: 5px;
    }
    
    .alert.notification {
        position: fixed;
        top: 20px;
        right: 20px;
        margin: 0;
        z-index: 999;
        color: #ffffff;
        max-width: 450px;
    }
    
    .alert.notification.alert-success {
        background-color: #00ae00;
    }
    
    .alert.notification.alert-danger {
        background-color: #f40000;
    }
    
    .w-100 {
        width: 100%;
    }
    
    .d-block {
        display: block;
    }
    
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    
    #card-collapse .select2 {
        width: 100% !important;
    }
    
    .custom_packages .form-group {
        clear: both !important;
    }
    
    .custom_packages .select2-container {
        margin-bottom: 15px;
    }
    
    .custom_checkbox .checkbox {
        padding-left: 0px;
    }
    
    .custom_checkbox .chkSelect {
        margin-top: 0px;
        margin-right: 10px;
    }
