.form-group{
	display: flex;
	align-items: center;
}
.uneditable-input, .form-control, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"]{
	background-color: transparent !important;
	height: 50px;
	border: 1px solid #999 !important;
	border-radius: 0 !important;
}
.form-group em{
	font-size: 10px;
	color: #969696;
}
.light-theme .navbar, .navbar-inverse{
	background: radial-gradient(at 50% -20%, #5cb85c, #0a1832) fixed;
}
.navbar-inverse .navbar-nav>li>a {
	color: white !important;
}
.searchform .form-control{
	background-color: transparent !important;
	color: #ffffff !important;
}
.light-theme .searchform input::placeholder{
	color: #ffffff !important;
}
#last-one{
	right: 0 !important;
	background-color: black !important;
}
.light-theme .hov .con {
	color: #ffffff !important;
}
.hov{
	background: #000000 !important;
}
.light-theme .searchform input {
	background: url(../images/white-icon-search.png) no-repeat scroll 95% center !important;
}
.light-theme ul.sidebar-menu li a.active, ul.sidebar-menu li a:focus {
	background: radial-gradient(at 20% -50%, #5cb85c, #0a1832) fixed !important;
	border-bottom: none !important;
	border-top: none !important;
	color: #fff !important;
}
#sidebar .sub-menu > .sub li a {
	padding-left: 35px !important;
}
ul.sidebar-menu li ul.sub li a{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.light-theme ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	background: #0a1832 !important;
	color: #fff !important;
}
.labelSub{
	margin-left: 25px;
	font-size: 14px;
}
input[type=radio], input[type=checkbox] {
	margin: 0 !important;
}
.RedBtn{
	background: #5cb85c !important;
	border: 0 !important;
}
.BtnBlack{
	background: #0a1832 !important;
	border: 0 !important;
	color: #ffffff !important;
}
ul.sidebar-menu li a i {
	padding-right: 5px !important;
	text-align: center !important;
	width: 22px !important;
}
