.form-group{
	display: flex;
	align-items: center;
}
.uneditable-input, .form-control, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"]{
	background-color: transparent !important;
	height: 50px;
	border: 1px solid #999 !important;
	border-radius: 0 !important;
}
.form-group em{
	font-size: 10px;
	color: #969696;
}
.light-theme .navbar, .navbar-inverse{
	background: radial-gradient(at 50% -20%, #eb1429, #0a1832) fixed;
}
.navbar-inverse .navbar-nav>li>a {
	color: white !important;
}
.searchform .form-control{
	background-color: transparent !important;
	color: #ffffff !important;
}
.light-theme .searchform input::placeholder{
	color: #ffffff !important;
}
#last-one{
	right: 0 !important;
	background-color: black !important;
}
.light-theme .hov .con {
	color: #ffffff !important;
}
.hov{
	background: #000000 !important;
}
.light-theme .searchform input {
	background: url(../images/white-icon-search.png) no-repeat scroll 95% center !important;
}
.light-theme ul.sidebar-menu li a.active, ul.sidebar-menu li a:focus {
	background: radial-gradient(at 20% -50%, #eb1429, #0a1832) fixed !important;
	border-bottom: none !important;
	border-top: none !important;
	color: #fff !important;
}
#sidebar .sub-menu > .sub li a {
	padding-left: 35px !important;
}
ul.sidebar-menu li ul.sub li a{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.light-theme ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
	background: #0a1832 !important;
	color: #fff !important;
}
.labelSub{
	margin-left: 25px;
	font-size: 14px;
}
input[type=radio], input[type=checkbox] {
	margin: 0 !important;
}
.RedBtn{
	background: #eb1429 !important;
	border: 0 !important;
}
.BtnBlack{
	background: #0a1832 !important;
	border: 0 !important;
	color: #ffffff !important;
}
ul.sidebar-menu li a i {
	padding-right: 5px !important;
	text-align: center !important;
	width: 22px !important;
}
/**********************************************************Flat-Admin-CSS**************************************************/

.wall_category_block{
	position:absolute;
	top:0;
	left:0;
	right:0;
	border-radius:10px 10px 0 0;
	padding:0 15px;
	background:rgba(0, 0, 0, 0.4);
	color:#fff;
}
.wall_category_block h2{
	color:#fff;
	font-weight:400;
	display:inline-block;
	margin:0;
	padding:15px 0;
	font-size: 14px !important;
}
.wall_category_block a{
	float: right;
	right: 0;
	background:#ffffff;
	color: #e91e63;
	font-size: 14px;
	width: 32px;
	height:32px;
	line-height:32px;
	margin:8px 0;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border-radius: 30px;
}
.wall_category_block a:hover{
	background:#e91e63;
	color:#ffffff
}
.wall_image_title{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:5px 12px;
	color:#ffffff;
	z-index:999
}
.wall_image_title h2{
	font-size:18px;
	color:#fff;
	font-weight:500;
}
.wall_image_title h2 a{
	font-size:18px;
	color:#fff;
}
.wall_image_title h2 a span{
	font-size:14px;
	font-weight:400;
}
.wall_image_title h2 a:hover{
	color:#f9f9f9
}
.wall_image_title p{
	font-size:14px;
	color:#e8e8e8;
	font-weight:400
}
.wall_image_title ul{
	list-style-type:none;
	padding-left:0;
	padding-right:0;
	margin-top:20px;
}
.wall_image_title ul li{
	display: inline-block;
	padding: 0;
	margin: 0 4px;
}
.wall_image_title ul li:first-child{
	margin-left:0;
}
.wall_image_title ul li a{
	background: #fff;
	color: #e91e63;
	font-size: 14px;
	width: 32px;
	height:32px;
	line-height:32px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border-radius: 30px;
}
.wall_image_title ul li a:hover{
	background:#e91e63;
	color:#ffffff;
}


.lbl {
	position: relative;
	display: block;
	height: 16px;
	width: 44px;
	background: #898989;
	border-radius: 100px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.lbl:after {
	position: absolute;
	left: -2px;
	top: -5px;
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 100px;
	background: #e2e2e2;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
	content: '';
	transition: all 0.3s ease;
}
.lbl:active:after { transform: scale(1.15, 0.85); }
.cbx:checked ~ label { background: #e687a7; }
.cbx:checked ~ label:after {
	left: 20px;
	background: #e91e63;
}
.cbx:disabled ~ label {
	background: #d5d5d5;
	pointer-events: none;
}
.cbx:disabled ~ label:after { background: #bcbdbc; }

.toggle_btn {
	margin-bottom: 0;
	margin-left: 2px;
	margin-top: 0px;
	display: block;
	float: left;
	position: relative;
	top: 10px;
}
.toggle_btn a img{
	width:auto !important;
	height:auto !important;
}
.toggle_btn a{
	background:transparent !important;
}

input.form-control, textarea.form-control {
	border-radius: 2px;
	padding: 14px 15px;
	height: auto;
	resize:vertical;
	font-size: 1em;
	line-height: auto;
	border: 1px solid #999;
	background-color: transparent;
	box-shadow: none;
	/* margin-bottom: 15px; */
}
textarea.form-control {
	padding: 15px;
}
input ::-webkit-input-placeholder {
	line-height: normal;
}




.block_wallpaper{
	position:relative;
	margin-bottom:30px;
	border-radius:10px;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.block_wallpaper::before {
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius:0 0 10px 10px;
	content: "";
	background: -webkit-linear-gradient(top,rgba(255, 0, 0, 0),rgba(0, 0, 0, 1));
	background: -o-linear-gradient(bottom,rgba(255, 0, 0, 0),rgba(0, 0, 0, 1));
	background: -moz-linear-gradient(bottom,rgba(255, 0, 0, 0),rgba(0, 0, 0, 1));
	background: linear-gradient(to bottom,rgba(255, 0, 0, 0),rgba(0, 0, 0, 1));
	background: linear-gradient(to bottom,rgba(255, 0, 0, 0),rgba(0, 0, 0, 1));
	width: 100%;
	height: 100%;
	/*z-index: 1;*/
}
.add_wall_category img{
	width: 100%;
	height:240px !important;
}
.link_block{
	margin-top:20px;
	border:1px solid #999;
	padding:15px;
}
.or_link_item h2{
	font-size:28px;
	text-align:center;
	margin:5px 0 25px 0;
}
.block_wallpaper span img{
	width:100%;
	height:300px;
	border-radius:10px;
}
.block_wallpaper div img{
	width:100%;
	height:220px !important;
}
.block_wallpaper img{
	width:100%;
}
.wall_category_block{
	position:absolute;
	top:0;
	left:0;
	right:0;
	border-radius:10px 10px 0 0;
	padding:0 15px;
	background:rgba(0, 0, 0, 0.4);
	color:#fff;
}
.wall_category_block h2{
	color:#fff;
	font-weight:400;
	display:inline-block;
	margin:0;
	padding:15px 0;
	font-size: 14px !important;
}
.wall_category_block a{
	float: right;
	right: 0;
	background:#ffffff;
	color: #e91e63;
	font-size: 14px;
	width: 32px;
	height:32px;
	line-height:32px;
	margin:8px 0;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border-radius: 30px;
}
.wall_category_block a:hover{
	background:#e91e63;
	color:#ffffff
}
.wall_image_title{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:5px 12px;
	color:#ffffff;
	z-index:999
}
.wall_image_title h2{
	font-size:18px;
	color:#fff;
	font-weight:500;
}
.wall_image_title h2 a{
	font-size:18px;
	color:#fff;
}
.wall_image_title h2 a span{
	font-size:14px;
	font-weight:400;
}
.wall_image_title h2 a:hover{
	color:#f9f9f9
}
.wall_image_title p{
	font-size:14px;
	color:#e8e8e8;
	font-weight:400
}
.wall_image_title ul{
	list-style-type:none;
	padding-left:0;
	padding-right:0;
	margin-top:20px;
}
.wall_image_title ul li{
	display: inline-block;
	padding: 0;
	margin: 0 4px;
}
.wall_image_title ul li:first-child{
	margin-left:0;
}
.wall_image_title ul li a{
	background: #fff;
	color: #e91e63;
	font-size: 14px;
	width: 32px;
	height:32px;
	line-height:32px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border-radius: 30px;
}
.wall_image_title ul li a:hover{
	background:#e91e63;
	color:#ffffff;
}
a.cat_enable{
	background: #fff;
	color: #29c75f !important;
	font-size: 14px;
	width: 32px;
	height:32px;
	line-height:32px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border-radius: 30px;
}
a.cat_enable:hover{
	background:#29c75f !important;
	color:#ffffff !important;
}
/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
	position: relative;
	cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition:
			opacity 0.2s ease-in-out,
			visibility 0.2s ease-in-out,
			-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:
			opacity 0.2s ease-in-out,
			visibility 0.2s ease-in-out,
			-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:
			opacity 0.2s ease-in-out,
			visibility 0.2s ease-in-out,
			transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform:    translate3d(0, 0, 0);
	transform:         translate3d(0, 0, 0);
	pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
	z-index: 1000;
	padding: 8px;
	width: 160px;
	background-color: #eb1429;
	background-color: hsla(354, 84%, 51%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
	bottom: 100%;
	left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #eb1429;
	border-right-color: hsla(354, 84%, 51%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
	margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
	-webkit-transform: translateY(-12px);
	-moz-transform:    translateY(-12px);
	transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
	right: 100%;
	bottom: 50%;
	left: auto;
}

.tooltip-left:before {
	margin-left: 0;
	margin-right: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-left-color: #eb1429;
	border-right-color: hsla(354, 84%, 51%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
	-webkit-transform: translateX(-12px);
	-moz-transform:    translateX(-12px);
	transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
	top: 100%;
	bottom: auto;
	left: 50%;
}

.tooltip-bottom:before {
	margin-top: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-bottom-color: #eb1429;
	border-right-color: hsla(354, 84%, 51%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
	-webkit-transform: translateY(12px);
	-moz-transform:    translateY(12px);
	transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
	bottom: 50%;
	left: 100%;
}

.tooltip-right:before {
	margin-bottom: 0;
	margin-left: -12px;
	border-top-color: transparent;
	border-right-color: #eb1429;
	border-right-color: hsla(354, 84%, 51%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
	-webkit-transform: translateX(12px);
	-moz-transform:    translateX(12px);
	transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
	top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
	margin-left: 0;
	margin-bottom: -16px;
}
/***************************************************Page Settings*********************************************************/
label.control-label{
	min-width: 135px !important;
	text-align: left !important;
}
.table>tbody>tr>td{
	vertical-align: middle !important;
}
.paging span.prn, .paging span, .paging a{
	padding: 8px !important;
	border: none !important;
}
.paging a:hover{
	color: #ffffff !important;
}
.paging p#total_count {
	color: #eb1429 !important;
	padding-top: 15px !important;
	padding-left: 0 !important;
}
.TopFilters{
	padding-bottom: 30px;
}
.PaddingTop10{
	padding-top: 10px;
}
.Margin-Left5{
	margin-left: 5px;
}
.LeftPadding125{
	padding-left: 135px;
}
a{
	color: #000000 !important;
}
a:hover{
	color: #eb1429 !important;
	text-decoration: none !important;
}
.form .form-control{
	margin-bottom: 0 !important;
}
.help-block {
	display: block !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.radio-inline input[type="radio"]{
	margin-right: 5px !important;
}
.Width15{
	width: 15%;
}

