/***************15-5-2020 START************/

.card-title, .form-check-label{
	font-weight: bold;
}
.nav-link.active{
	background-color: #26a69a !important;
	color: #fff !important;
}
.getcost span{
	padding-top: 5px;
}
.Menu-Links{
	color: #324148 !important;
}
.form-group-feedback-left .form-control-feedback {
	left: unset !important;
}
/*.form-check-label {*/
/*	margin-left: 10px;*/
/*}*/
.fancybox-close:after{
	display: none !important;
}
/***************15-5-2020 END************/
.form-check-inline .form-check-input {
	margin-top: 3px !important;
	margin-right: 8px !important;
}
.card-title, .form-check-label{
	font-weight: normal !important;
}


.rating {
	border: none;
	float: left;
}

.rating > label {
	color: #90A0A3;
	float: right;
}

.rating > label:before {
	margin: 1px;
	font-size: 15px;
	font-family: FontAwesome;
	content: "\f005";
	display: inline-block;
}

.rating > input {
	display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: #26a69a;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
	color: #26a69a;
}


.select2-container .select2-selection--single{
	height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: inherit;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 38px;
}
.select2-selection--single{
	padding: 5px 0 !important;
}
/***** RADIO BUTTON STYLES *****/
.rdio {
	position: relative;
}
.rdio input[type="radio"] {
	opacity: 0;
}
.rdio label {
	padding-left: 10px;
	cursor: pointer;
	margin-bottom: 7px !important;
}
.rdio label:before {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 1px;
	left: 0;
	content: "";
	display: inline-block;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid #ffffff;
	background: transparent;
}
.rdio input[type="radio"] {
	margin: 0px;
}
.rdio input[type="radio"]:disabled + label {
	color: #999;
}
.rdio input[type="radio"]:disabled + label:before {
	background-color: #fbc52d;
}
.rdio input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 4px;
	display: inline-block;
	font-size: 11px;
	width: 10px;
	height: 10px;
	background-color: #fbc52d;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.rdio-default input[type="radio"]:checked + label:before {
	border-color: #fbc52d;
}

.rdio-primary input[type="radio"]:checked + label:before {
	border-color: #ffffff;
}
.rdio-primary input[type="radio"]:checked + label::after {
	background-color: #ffffff;
}

.custom-checkbox > [type="checkbox"],
.custom-checkbox label {
	/*margin-bottom:0px !important;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-checkbox > [type="checkbox"]:not(:checked), .custom-checkbox > [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label, .custom-checkbox > [type="checkbox"]:checked + label {
	position: relative;
	padding-left: 22px;
	cursor: pointer;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:before, .custom-checkbox > [type="checkbox"]:checked + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
	width: 17px;
	height: 17px;
	border: 1px solid #fbc52d;
	background: #ffffff;
	border-radius: 2px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after, .custom-checkbox > [type="checkbox"]:checked + label:after {
	font: normal normal normal 12px/1 "Glyphicons Halflings";
	content: "\e013";
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: 2px;
	color: #fbc52d;
	xtransition: all 0.2s;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
.custom-checkbox > [type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
	content: "\2212";
	left: 2px;
	opacity: 1;
	transform: scale(1);
}
.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before {
	box-shadow: none;
	background-color: #eeeeee;
	border-color: #eeeeee;
	cursor: not-allowed;
	opacity: 1;
	color: #dadada;
}
.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	background-color: #eeeeee;
	border-color: #eeeeee;
	cursor: not-allowed;
	opacity: 1;
	color: #fbc52d;
}
.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
	color: #fbc52d;
	cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:disabled + label {
	color: #aaa;
	cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:checked:focus + label:before, .custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
	border: 1px solid #fbc52d;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.custom-checkbox label:hover:before {
	border: 1px solid #fbc52d !important;
}
.custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:hover:before, .custom-checkbox [type="checkbox"]:disabled:checked + label:hover:before {
	border: 1px solid #fbc52d !important;
}

/********************************** On / Off Button **********************************************/


/*------------------------------------------------------------------
[Inputs - Switcher]
*/
.switch-button {
	display: inline-block;
	border-radius: 50px;
	background-color: rgba(0,0,0,.2);
	width: 60px;
	height: 27px;
	padding: 4px;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
}
.switch-button input[type="checkbox"] {
	display: none;
}
.switch-button label {
	border-radius: 50%;
	-webkit-box-shadow: 0 0 1px 1px #fff inset;
	box-shadow: 0 0 1px 1px #FFF inset;
	background-color: #ffffff;
	margin: 0;
	height: 19px;
	width: 19px;
	z-index: 1;
	display: inline-block;
	cursor: pointer;
	background-clip: padding-box;
}
.switch-button label:before {
	position: absolute;
	font-size: .8462rem;
	font-weight: 600;
	z-index: 0;
	content: "OFF";
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 27px;
	top: 0;
	text-align: right;
	padding-right: 10px;
	color: #ffffff;
}
.switch-button input[type="checkbox"]:checked + span {
	background-color: #2196f3;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 4px;
}
.switch-button input[type="checkbox"]:checked + span label {
	float: right;
	border-color: #2196f3;
}
.switch-button input[type="checkbox"]:checked + span label:before {
	position: absolute;
	font-size: .8462rem;
	font-weight: 600;
	z-index: 0;
	content: "ON";
	color: #ffffff;
	left: 0;
	text-align: left;
	padding-left: 10px;
}
.switch-button.switch-button-yesno label:before {
	content: "NO";
}
.switch-button.switch-button-yesno input[type="checkbox"]:checked + span label:before {
	content: "YES";
}
.switch-button.switch-button-xs {
	height: 20px;
	width: 53px;
	line-height: 16px;
	width: 50px;
}
.switch-button.switch-button-xs label {
	height: 12px;
	width: 12px;
}
.switch-button.switch-button-xs label:before {
	line-height: 21px;
}
.switch-button.switch-button-sm {
	height: 24px;
	width: 57px;
	line-height: 20px;
}
.switch-button.switch-button-sm label {
	height: 16px;
	width: 16px;
}
.switch-button.switch-button-sm label:before {
	line-height: 25px;
}
.switch-button.switch-button-lg {
	height: 30px;
	width: 63px;
	line-height: 26px;
	width: 65px;
}
.switch-button.switch-button-lg label {
	height: 22px;
	width: 22px;
}
.switch-button.switch-button-lg label:before {
	line-height: 31px;
}
.switch-button.switch-button-success {
	background-color: #b3b3b3;
}
.switch-button.switch-button-success label {
	border-color: #ababab;
}
.switch-button.switch-button-success input[type="checkbox"]:checked + span {
	background-color: #34a853;
}
.switch-button.switch-button-success input[type="checkbox"]:checked + span label {
	border-color: #2e9549;
}
.switch-button.switch-button-warning {
	background-color: #b3b3b3;
}
.switch-button.switch-button-warning label {
	border-color: #ababab;
}
.switch-button.switch-button-warning input[type="checkbox"]:checked + span {
	background-color: #fbbc05;
}
.switch-button.switch-button-warning input[type="checkbox"]:checked + span label {
	border-color: #e3aa04;
}
.switch-button.switch-button-danger {
	background-color: #b3b3b3;
}
.switch-button.switch-button-danger label {
	border-color: #ababab;
}
.switch-button.switch-button-danger input[type="checkbox"]:checked + span {
	background-color: #ea4335;
}
.switch-button.switch-button-danger input[type="checkbox"]:checked + span label {
	border-color: #e82e1e;
}
.select2 {
	width: 100% !important;
}
.DisplayInlineTab{
	display: inline-table !important;
}
.active{
	background-color: rgba(255,255,255,.3) !important;
}
@media (min-width: 768px){
	.navbar-expand-md .navbar-brand {
		min-width: auto !important;
	}
}
.required_field{
	color: #FF0000;
}

